[init]
defaultBranch = master

[includeIf "gitdir:~/dev/"]
  path = .gitconfig-professional
[includeIf "gitdir:~/.yadm/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/prsl/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/Conveyor/"]
  path = .gitconfig-personal
[safe]
  directory = /home/karl/shares/company/IT/Playbooks
[user]
  email = karl.ruskowski@optris.de
  name = Karl Ruskowski
  signingKey = 020EEF2DADD14F7D6D643E5970540795A15C714A
[core]
  editor = nvim
  pager = less -FRX
[commit]
	gpgsign = true
[url "git@github.com:Optris/otc.sdk-rust.git"]
	insteadOf = https://github.com/Optris/otc.sdk-rust
