[init]
defaultBranch = master

[includeIf "gitdir:~/dev/"]
  path = .gitconfig-professional
[includeIf "gitdir:~/.yadm/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/prsl/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/Conveyor/"]
  path = .gitconfig-personal
[safe]
  directory = /home/karl/shares/company/IT/Playbooks
[user]
  email = khruskowski@gmail.com
  name = Karl-Heinz Ruskowski
  signingKey = FB8DA3BF
[core]
  editor = nvim
  pager = less -FRX
[commit]
	gpgsign = true
